* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #eeeeee;
    display: flex;
}

.main {
    width: 100vw;
    padding: 48px;
    color: #333;
}

.main h1 {
    text-align: center;
    border: 3px solid #333;
    justify-self: center;
    margin: 24px;
}

.main p {
    line-height: 20px;
    letter-spacing: 0.7px;
    margin-bottom: 8px;
}

.side {
    background-color: #D01B1B;
    color: #eeeeee;
    position: relative;
    min-height: 100vh;
    width: 300px;
    transition: width 0.4s;
}

.side h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin: 28px 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.side h1 img {
    width: 48px;
    margin-right: 24px;
}

.side ul {
    list-style: none;
    overflow: hidden;
}

.side li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 24px 32px;
    letter-spacing: 1.5px;
}

.side li i {
    font-size: 1.5em;
    margin-right: 32px;
}

.side li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.side li.active {
    background-color: #FF4242;
    border-left: 5px solid #95d2ec;
    font-weight: bold;
}

.side button {
    position: absolute;
    top: 28px;
    right: 0;
    transform: translateX(100%);
    box-shadow: 0 2px 123px -3px rgba(0, 0, 0, 0.3);
    background-color: #95d2ec;
    color: #fff;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    font-size: 1.5em;
}

.side i.fa-chevron-right {
    display: none;
}

a {
    color: #eeeeee;
    text-decoration: none;
}

/*  ----------   Sidebar close --------- */

.side.closed {
    width: 90px;
}

.side.closed i.fa-chevron-right {
    display: block;
}

.side.closed i.fa-chevron-left {
    display: none;
}


@media (max-width: 600px) {
    .side.closed {
        width: 0;
    }
    .main {
        padding: 48px 24px;
    }
}


/*  ----------   Login --------- */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: 2px solid #9d9d9d;
    border-color: #9d9d9d;
    border-radius: 10px;
}

.login h1 {
    text-align: center;
    padding: 20px 0 20px 0;;
}

.login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    border-bottom: 2px solid #333;
    margin: 30px 0;
}

.txt-field input{
    width: 90%;
    padding: 0, 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #9d9d9d;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #95d2ec;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
    top: -5px;
    color: #95d2ec;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #9d9d9d;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #D01B1B;
    border-radius: 25px;
    font-size: 18px;
    color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #95d2ec;
    transition: .5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #9d9d9d;
}

.signup-link a {
    color: #95d2ec;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/*  ----------   Cadastro --------- */

.cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: 2px solid #9d9d9d;
    border-color: #9d9d9d;
    border-radius: 10px;
}

.cadastro h1 {
    text-align: center;
    padding: 20px 0 20px 0;;
}

.cadastro form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    border-bottom: 2px solid #333;
    margin: 30px 0;
}

.txt-field input{
    width: 90%;
    padding: 0, 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #9d9d9d;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #95d2ec;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
    top: -5px;
    color: #95d2ec;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #9d9d9d;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #D01B1B;
    border-radius: 25px;
    font-size: 18px;
    color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #95d2ec;
    transition: .5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #9d9d9d;
}

.signup-link a {
    color: #95d2ec;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

/*  ----------   Campanha --------- */

.campanha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    border: 2px solid #9d9d9d;
    border-color: #9d9d9d;
    border-radius: 10px;
}

.campanha h1 {
    text-align: center;
    padding: 20px 0 20px 0;;
}

.campanha form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt-field {
    position: relative;
    border-bottom: 2px solid #333;
    margin: 30px 0;
}

.txt-field input{
    width: 90%;
    padding: 0, 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt-field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #9d9d9d;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #95d2ec;
}

.txt-field input:focus ~ label,
.txt-field input:valid ~ label {
    top: -5px;
    color: #95d2ec;
}

.txt-field input:focus ~ span::before,
.txt-field input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #9d9d9d;
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #D01B1B;
    border-radius: 25px;
    font-size: 18px;
    color: #eeeeee;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #95d2ec;
    transition: .5s;
}

.signup-link {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #9d9d9d;
}

.signup-link a {
    color: #95d2ec;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}
/* ------------------ Dashboard ------------------- */

.dash h1 {
    align-self: center;
    position: relative;
    width: 95%;
    margin: none;
}
.linha1, .linha2 {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.graph {    
    min-width: 35vw;
    background: linear-gradient(#95d2ec, #47abd8);
    border-radius: 10px;
    border: 2px solid #D01B1B;
    
}

#lineChartProjeção {
    background: linear-gradient(#ff4242, #d01b1b);
}