.listaCampanha {
    list-style-type: none;
    overflow: hidden;
}

.campanha {
    align-items: center;
    cursor: pointer;
    padding: 24px 32px;
    letter-spacing: 1.5px;
    background-image: linear-gradient(#dcdcdc, #dedede);
    border-radius: 7px;
    margin: 30px;
}

.horas {
    display: flex;
}

.lastLine {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.detalhes {
    color: #F02;
    font-weight: bold;
}